<div class="feed">
  <h1>TasteBuds Feed</h1>
  <h3>Username</h3>

  <div class="post">

    <img src="http://static2.businessinsider.com/image/4f3433986bb3f7b67a00003c/a-parasite-found-in-cats-could-be-manipulating-our-brains.jpg.jpg" />

    <br><br>

    <div class="postButtons">
      <button class="btn waves-effect waves-light" type="submit" name="action"> Eat
        <i class="material-icons right"></i>
      </button>

      <button class="btn waves-effect waves-light" type="submit" name="action">Don't Eat
        <i class="material-icons right"></i>
      </button>

      <button class="btn waves-effect waves-light" type="submit" name="action">I want to try &#9825;
        <i class="material-icons right"></i>
      </button>
    </div>

  </div>
</div>
